div.wgleft {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 3px lightgray;
  }
div.wgcounter {
  text-align: right;
  }
div.wgcounter a {
  font-size: x-small;
  }
